.map-bx {
    width: 80%;
    margin: 40px auto 20px;
}

.address-wrapper {
    width: 80%;
    margin: 0 auto  ;
    display: block;
}

.address-wrapper .col-12 {
    width: 100%;
    margin: 20px 0 0 ;
    justify-content: space-between;
    text-align: left;
}

.address-wrapper .col-12 h3 {
    margin-bottom: 20px;
    width: fit-content;
}
.address-wrapper .col-12 p {
    width: 100%;
    text-indent: unset;
}

.contact-form form {
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 150px;
}

.contact-form form div {
  margin: 20px 0;
  width: 100%;
}

.contact-form form input,textarea {
    width: 100%;
    padding: 10px 5px;
    border: 1px solid #CACACA;
    resize: none;
}