.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 27%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



.container {
    width: 100%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 4%;
}

.row {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* section 1 */



.sec1-txt {
    text-align: center;
    margin: 75px auto 0;
}

.sec1-txt h3{
    font-size: 32px;
    font-weight: 700;
    margin: 16px;
}

.sec1-txt p {
    font-size: 16px;
}


div.sec1-div {
    margin-top: 37px;
    text-align: center;
    background-color: #FDF3F3;
    width: 305px;
    height: 147px;
    border-radius: 10px;
    padding: 0 20px;
    padding-top: 35px;
    padding-bottom: 35px;
}

div.sec1-div:hover {
    -webkit-box-shadow: 2px 2px 11px 11px rgb(235, 235, 235, 1);
    -moz-box-shadow: 2px 2px 11px 11px rgb(235, 235, 235, 1);
    box-shadow: 2px 2px 11px 11px rgb(235, 235, 235), 1;
    transition: 1s;
}

div.sec1-div h4{
   margin-bottom: 20px;
   font-size: 19px;
   font-weight: 700;
}

div.sec1-div p {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}


/* responsive section 1 */
@media only screen and (max-width: 680px) {
    div.sec1.col-3 {
        width: 100%;
        margin: 37px auto 0;
    }

    div.sec1-div {
        margin: 0 auto;
        padding: 20px 20px 25px;
        width: 336px;
        height: fit-content;

    }

    div.sec1-div p {
        font-size: 15px;

    }
    .sec1-txt p {
        font-size: 16px;
        margin: 0 30px;
    }
}
