/* the navigation bar styling */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 27%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



.container {
    width: 100%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.row {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* header of the website */

.header{
    min-height: 100vh;
    min-width: 100%;
    background-image: linear-gradient(rgba(1.4,9,30,0.7),rgba(1.4,9,30,0.7)),url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

div.wrapper {
    padding-top: 20px;
}


.nav {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 7%;
    align-items: center;
    position: relative;
    
}

div.lg a img {
    min-width: 200px;
    max-height: 50px;
    margin: 0;
    top: 10px;
}

.menu-div{
    flex: 1;
    text-align: right;

}

.menu-div ul {
    text-align: right;
}

.menu-div ul li{
    display: inline-block;
    margin: 0 10px;
    list-style: none;
}

.menu-div ul li a {
    font-size: 14px;
    line-height: 11.7px;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    color: #fff;
}

.menu-div ul li:not(:nth-child(1)) a::after  {
    content: "";
    width: 0;
   background-color:  red;
   height: 2px;
   display: block;
   margin: auto;
    transition: 0.5s;
}


.menu-div ul li a:hover::after{
    width: 100%;
}

div.menu-div  li.dropdownicon a {
    font-size: 14px;
    line-height: 11.7px;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    color: #fff;
    display: none ;
}

div.menu-div  li.dropdownicon {
    list-style: none;
}

.remove-mnu a {
    display: none ;
    font-size: larger;
}
/* responsive navbar */

@media only screen and (max-width: 680px) {
    .menu-div ul li a:hover::after{
        width: 0;
    }

    .menu-div ul li  {
        display: block;
        transition: 1s;
    }
     
    nav.nav {
        padding: 2% 0;
    }
    div.menu-div  li.dropdownicon a{
    position: fixed;
    display: block; 
    float: right;
    top: 35px;
    right: 10%;
    font-weight: 900;
    z-index: 1;
    background-color: #0B1F34;
    padding: 10px;
    border-radius: 5px;

    }


   
    div.menu-div ul { 
    display: block;
    position: fixed;
    top: 0 ;
    right: -200px;
    background-color:rgb(224, 16, 33);
    padding: 0;
    min-width: 180px;
    min-height: 100vh;
    padding-top: 70px;
    z-index: 2;
    margin: 0;
    text-align: left;
    transition: 1s;
   }

   div.menu-div ul.ulrep {
    right: 0;
   } 
   

   
   .menu-div.responsive ul li  {
    border-bottom: 1px solid #fff;
    padding-bottom: 17px;
    margin-left: 20px;
    margin-bottom: 30px;

    
   }
   li.remove-mnu{
       border-bottom: 1px solid #fff;

   }

   li.remove-mnu a{
    display: block;

  }
}


/* wlcm-txt for header */
div.wlcm-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}


div.wlcm-txt h1{
    color: #fff;
    font-size: 52px;
    font-weight: bold;
    margin: 30px auto;
}

.wlcm-txt p {
    color: #fff;
    font-size: 16px;
    line-height: 22px;
}

.visit-us {
    padding: 10px 30px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    margin-top: 30px;
    transition: 1s;
}

.visit-us:hover {
    background-color: rgb(255, 0, 0,0.8);
}

@media only screen and (max-width: 680px) {
    div.wlcm-txt h1 {
        font-size: 21px;
    }

    .wlcm-txt p {
        font-size: 15px;
        line-height: 18px;
        font-weight: 400;
    }
}



/* footer for website */
.footer {
    position: relative;
    padding-bottom: 50px ;
    margin-top: 150px;
    height: fit-content;
}

.ft-txt {
    justify-content: center;
    width: 80%;
    display: block;
    text-align: center;
    color: #fff;
}

.ft-txt h2 {
    color: #ffffff;
}

.custom-shape-divider-bottom-1677587616 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -5;
}

.custom-shape-divider-bottom-1677587616 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 430px;
}

.custom-shape-divider-bottom-1677587616 .shape-fill {
    fill: #122C4B
}


.copywright {
    position: relative;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 75px;
    background-color: #0B1F34;
}

.copywright div {
    margin: 25px;
    color: #fff;
}

.designer {
    font-weight: 600;
}

.app span {
    color: rgb(1, 70, 232);
    font-style: oblique;
}
.icons i {
    margin: 0 20px 10px;

}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1677587616 svg {
        width: calc(300% + 1.3px);
        height: 430px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1677587616 svg {
        width: calc(300% + 1.3px);
        height: 500px;
    }
}


@media (max-width:680px) {
    .copywright {
        font-size: 8px;
    }
}