/* the navigation bar styling */
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;

}



.header{
    min-height: 100vh;
    min-width: 100%;
    background-image: linear-gradient(rgba(1.4,9,30,0.7),rgba(1.4,9,30,0.7)),url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

div.wrapper {
    padding-top: 20px;
}


.nav {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 7%;
    align-items: center;
    position: relative;
    
}

div.lg a img {
    min-width: 200px;
    max-height: 50px;
    margin: 0;
    top: 10px;
}

.menu-div{
    flex: 1;
    text-align: right;

}

.menu-div ul {
    text-align: right;
}

.menu-div ul li{
    display: inline-block;
    margin: 0 10px;
    list-style: none;
}

.menu-div ul li a {
    font-size: 14px;
    line-height: 11.7px;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    color: #fff;
}

.menu-div ul li:not(:nth-child(1)) a::after  {
    content: "";
    width: 0;
   background-color:  red;
   height: 2px;
   display: block;
   margin: auto;
    transition: 0.5s;
}


.menu-div ul li a:hover::after{
    width: 100%;
}

div.menu-div  li.dropdownicon a {
    font-size: 14px;
    line-height: 11.7px;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    color: #fff;
    display: none ;
}

div.menu-div  li.dropdownicon {
    list-style: none;
}

.remove-mnu a {
    display: none ;
}
/* responsive navbar */

@media only screen and (max-width: 680px) {
    .menu-div ul li  {
        display: none;
    }
     
    nav.nav {
        padding: 2% 0;
    }
    div.menu-div  li.dropdownicon a{
    position: absolute;
    display: block; 
    float: right;
    top: 25px;
    right: 30px;
    font-weight: 900;
    
    }


   
    div.menu-div.responsive { 
    position: fixed;
    top: 0;
    right: 0;
    background-color:#E74133;
    padding: 0;
    min-width: 180px;
    min-height: 100vh;
    padding-top: 70px;
    z-index: 2;
    margin: 0;
    transition: 1s;
    transition-property: none;
   }
   
    .menu-div.responsive ul  {
      text-align: left;
    }
   .menu-div.responsive ul li  {
    display: block;
    border-bottom: 1px solid #fff;
    padding-bottom: 17px;
    margin-left: 20px;
    margin-bottom: 30px;

    
   }
   li.remove-mnu{
       border-bottom: 1px solid #fff;

   }

   li.remove-mnu a{
    display: block;

  }
}


/* wlcm-txt for header */
div.wlcm-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}


div.wlcm-txt h1{
    color: #fff;
    font-size: 52px;
    font-weight: bold;
    margin: 30px auto;
}

.wlcm-txt p {
    color: #fff;
    font-size: 16px;
    line-height: 22px;
}

.visit-us {
    padding: 10px 30px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    margin-top: 30px;
}

@media only screen and (max-width: 680px) {
    div.wlcm-txt h1 {
        font-size: 21px;
    }

    .wlcm-txt p {
        font-size: 15px;
        line-height: 18px;
        font-weight: 400;
    }
}


